$root-block-name: '.mainpage';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  @include flex(center, null, column);
  gap: 36px;
  padding: 0 0 64px 0;
  &__products {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    justify-items: center;

    @include screen(lg) {
      grid-template-columns: 1fr 1fr;
    }
    @include screen(md) {
      grid-template-columns: 1fr;
      padding: 8px;
      gap: 16px;
    }
  }
}
