$root-block-name: '.product-detail';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__item: #{$p}__item;
  padding: 0 16px;
  @include screen(md) {
    padding: 16px;
  }
  &__main {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto 2fr;
    @include screen(md) {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }
  }

  &__img {
    @include w_h(100%, 450px);
    grid-column: span 1;
    grid-row: 1 / span 2;
    @include screen(md) {
      grid-column: 1/-1;
      grid-row: 2;
      margin-left: 0;
      height: 600px;
    }
    @include screen(xs) {
      height: 335px;
    }
    img {
      @include w_h(100%, 100%);
      border-radius: 54px;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__title {
    grid-column: 2 / span 1;
    margin-left: 60px;
    @include screen(lg) {
      margin-left: 40px;
    }
    @include screen(md) {
      grid-column: 1/-1;
      grid-row: 1;
      margin-left: 0;
      margin-bottom: 32px;
    }
    #{ $p__text } {
      font-size: 35px;
      font-weight: 800;
    }
  }

  &__other {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-top: 40px;
    margin-left: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 8px;
    @include screen(lg) {
      margin-left: 40px;
    }
    @include screen(md) {
      grid-column: 1/-1;
      grid-row: 3;
      margin-left: 0;
    }

    @include screen(lg) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
    }

    &-img {
      @include w_h(100%, 100%);
      max-width: 180px;
      max-height: 180px;
      @include screen(md) {
        max-width: 90px;
        max-height: 90px;
      }
      img {
        @include w_h(100%, 100%);
        border-radius: 20px;
        object-fit: contain;
        object-position: top center;
      }
    }
  }

  &__action {
    margin: 64px 0;
    @include flex(center, center);
    gap: 64px;
    @include screen(md) {
      margin: 32px 0;
    }
    &-btn {
      width: 265px;
      height: 71px;
      @include flex(center, center);
      background: #fe4206;
      color: #fff;
      border-radius: 90px;

      font-size: 36px;
      font-weight: 900;
    }
  }
  &__price {
    @include flex;
    color: #7c7c7c;
    height: 132px;
    padding: 18px 0;
    @include screen(md) {
      display: none;
    }
    &-money {
      @include flex(center, end);

      #{$p__text} {
        line-height: 1;

        font-size: 96px;
        font-weight: 600;
        color: #fed706;
      }
    }

    &-unit {
      @include flex(end);
      #{$p__text} {
        letter-spacing: -1px;
        font-size: 14px;
        &--icon {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: #eb9838;

          color: #fff;
          font-size: 16px;
          @include flex(center, center, column);
        }
      }
    }
  }

  &__infos {
    @include flex(null, space-between);
    margin-bottom: 64px;
  }

  &__info {
    width: 348px;

    @include screen(md) {
      width: 100%;
    }
    &--one {
      @include flex(null, null, column);
      gap: 16px;
      #{$p__item} {
        @include flex;
        &-name {
          flex: 1;
        }
        &-num {
          width: 100px;
        }
      }
    }

    &--two {
      color: #fe4206;
      width: 741px;
      @include flex(null, null, column);
      @include screen(md) {
        display: none;
      }
      #{$p__item} {
        &-name {
        }
        &-other {
        }
      }
    }
  }

  &__item {
    font-size: 24px;
    font-weight: 400;
  }

  &__likes {
    &-title {
      padding-bottom: 24px;
      border-bottom: 1px solid #000;
      #{$p__text} {
        font-size: 35px;
        font-weight: 400;
      }
    }

    &-products {
      margin-top: 24px;

      padding: 24px;
      display: grid;
      grid-template-columns: 400px 400px 400px;
      gap: 16px;
      justify-items: center;

      @include screen(lg) {
        grid-template-columns: 400px 400px;
      }
      @include screen(md) {
        grid-template-columns: 400px;
        padding: 8px;
        gap: 16px;
      }
    }
  }
}
