$root-block-name: '.product-detail-one';
#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__item: #{$p}__item;

  @include flex(center, center, column);
  @include screen(lg) {
    padding: 8px;
    width: 100%;
  }
  &__main {
    width: 100%;
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto 2fr;
    @include screen(lg) {
      grid-template-columns: 100%;
      grid-auto-rows: auto;
    }
  }

  &__img {
    @include w_h(100%, 450px);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    @include screen(lg) {
      grid-column: 1/-1;
      grid-row: 1;
    }
    img {
      @include w_h(100%, 100%);
      border-radius: 54px;
    }
  }

  &__title {
    grid-column: 2 / span 1;
    margin-left: 32px;
    @include screen(lg) {
      grid-column: 1/-1;
      grid-row: 2;
      margin-left: 0;
    }
    #{ $p__text } {
      font-size: 35px;
      font-weight: 800;
    }
  }
  &__action {
    margin-left: 32px;
    @include flex(start, center, column);
    gap: 64px;
    @include screen(lg) {
      @include flex(center, center, column);
      margin-left: 0;
      gap: 24px;
    }
    &-btns {
      @include flex(start, center);
      gap: 24px;
    }
    &-btn {
      width: 265px;
      height: 72px;

      @include flex(center, center);
      background: #fe4206;
      color: #fff;
      border-radius: 90px;

      font-size: 36px;
      font-weight: 900;
      @include screen(lg) {
        width: 156px;
        height: 46.1px;

        font-size: 20px;
        font-weight: 900;
      }
      &--status {
        width: 360px;
        @include screen(lg) {
          width: 196px;
          height: 42px;
        }
        background: #ffce58;
        color: #000;
        gap: 24px;
        img {
          width: 48px;
          height: 48px;
          @include screen(lg) {
            width: 26px;
            height: 26px;
          }
        }
      }
    }
  }
  &__price {
    @include flex;
    color: #7c7c7c;
    height: 132px;
    padding: 18px 0;

    &-money {
      @include flex(center, end);
      #{$p__text} {
        line-height: 1;

        font-size: 96px;
        font-weight: 600;
        color: #fed706;
      }
    }

    &-unit {
      @include flex(end);
      #{$p__text} {
        letter-spacing: -1px;
        font-size: 14px;
        &--icon {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: #eb9838;

          color: #fff;
          font-size: 16px;
          @include flex(center, center, column);
        }
      }
    }
  }

  &__infos {
    @include flex(null, space-between);
    margin: 24px 0;
    @include screen(lg) {
      @include flex(center, center, column);
      gap: 24px;
    }
  }

  &__info {
    &--one {
      width: 100%;

      #{$p__item} {
        @include flex;
        &-name {
          flex: 1;
        }
        &-num {
          width: 100px;
        }
      }
    }

    &--two {
      color: #fe4206;
      width: 100%;
      @include flex(null, null, column);
      #{$p__item} {
        &-name {
        }
        &-other {
        }
      }
    }
  }

  &__item {
    font-size: 24px;
    font-weight: 400;
  }

  &__products {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }

  &__productIntroduce {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    &-img {
      img {
        height: 100%;
      }
      &:nth-child(odd) {
        grid-row-end: span 9;
      }
      &:nth-child(even) {
        grid-row-end: span 10;
      }
    }
  }

  &__tickets {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 125px;
    gap: 16px;
    &-img {
      @include flex(center, center);
      img {
        height: 100%;
      }
    }
  }

  &__boxs {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 180px;
    gap: 16px;
    &-img {
      @include flex(center, center);
      img {
        height: 100%;
      }
    }
  }

  &__option {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    @include w_h(100%, 261px);
    background: rgba($color: #000000, $alpha: 0.6);
  }
  &__btns {
    position: absolute;
    @include flex;

    gap: 16px;
    top: 64px;
    left: 50%;
    transform: translate(-50%);
  }
  &__btn {
    @include w_h(168px, 54px);
    @include flex(center, center);
    border: 2px solid #000;
    border-radius: 50px;

    font-size: 25px;
    font-weight: 400;

    &--random {
      background: #fed706;
    }

    &--im {
      background: #fe4206;
      color: #fff;
    }
  }
}
