$root-block-name: '.product-detail-one';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__item: #{$p}__item;

  &__main {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto 2fr;
  }

  &__img {
    @include w_h(100%, 450px);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    img {
      @include w_h(100%, 100%);
      border-radius: 54px;
    }
  }

  &__title {
    grid-column: 2 / span 1;
    margin-left: 32px;
    #{ $p__text } {
      font-size: 35px;
      font-weight: 800;
    }
  }

  &__other {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-left: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 8px;
    &-img {
      width: 180px;
      height: 180px;

      img {
        @include w_h(100%, 100%);
        border-radius: 20px;
      }
    }
  }

  &__action {
    margin-left: 32px;
    @include flex(start, center, column);
    gap: 64px;
    &-btns {
      @include flex(start, center);
    }
    &-btn {
      width: 265px;
      height: 72px;
      @include flex(center, center);
      background: #fe4206;
      color: #fff;
      border-radius: 90px;

      font-size: 36px;
      font-weight: 900;
      &--status {
        width: 360px;
        background: #ffce58;
        color: #000;
        gap: 24px;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
  &__price {
    @include flex;
    color: #7c7c7c;
    height: 132px;
    padding: 18px 0;

    &-money {
      @include flex(center, end);
      #{$p__text} {
        line-height: 1;

        font-size: 96px;
        font-weight: 600;
        color: #fed706;
      }
    }

    &-unit {
      @include flex(end);
      #{$p__text} {
        letter-spacing: -1px;
        font-size: 14px;
        &--icon {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: #eb9838;

          color: #fff;
          font-size: 16px;
          @include flex(center, center, column);
        }
      }
    }
  }

  &__infos {
    @include flex(null, space-between);
  }

  &__info {
    width: 348px;
    top: -84px;
    left: 14946px;
    gap: 0px;
    opacity: 0px;

    &--one {
      #{$p__item} {
        @include flex;
        &-name {
          flex: 1;
        }
        &-num {
          width: 100px;
        }
      }
    }

    &--two {
      color: #fe4206;
      width: 741px;
      @include flex(null, null, column);
      #{$p__item} {
        &-name {
        }
        &-other {
        }
      }
    }
  }

  &__item {
    font-size: 24px;
    font-weight: 400;
  }

  &__products {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(308px, 400px));
    gap: 16px;
  }

  &__productIntroduce {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(308px, 400px));
    gap: 16px;
    &-img {
      img {
        height: 100%;
      }
      &:nth-child(odd) {
        grid-row-end: span 9;
      }
      &:nth-child(even) {
        grid-row-end: span 10;
      }
    }
  }

  &__tickets {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 125px;
    gap: 16px;
    &-img {
      @include flex(center, center);
      img {
        height: 100%;
      }
    }
  }

  &__boxs {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 180px;
    gap: 16px;
    &-img {
      @include flex(center, center);
      img {
        height: 100%;
      }
    }
  }

  &__option {
    position: fixed;
    bottom: 0;
    @include w_h(100%, 261px);
    background: rgba($color: #000000, $alpha: 0.6);
  }
  &__btns {
    position: absolute;
    @include flex;

    gap: 16px;
    top: 64px;
    left: 50%;
    transform: translate(-50%);
  }
  &__btn {
    @include w_h(168px, 54px);
    @include flex(center, center);
    border: 2px solid #000;
    border-radius: 50px;

    font-size: 25px;
    font-weight: 400;

    &--random {
      background: #fed706;
    }

    &--im {
      background: #fe4206;
      color: #fff;
    }
  }
}

$root-block-name: '.product-detail';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__item: #{$p}__item;
  padding: 64px;
  @include screen(lg) {
    padding: 8px;
  }
  &__main {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto 2fr;
    @include screen(lg) {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }
  }

  &__img {
    @include w_h(100%, 450px);
    grid-column: span 1;
    grid-row: 2 / span 1;
    @include screen(lg) {
      grid-column: 1/-1;
      grid-row: 2;
      margin-left: 0;
    }
    img {
      @include w_h(100%, 100%);
      border-radius: 54px;
    }
  }

  &__title {
    grid-column: 2 / span 1;
    margin-left: 32px;
    @include screen(lg) {
      grid-column: 1/-1;
      grid-row: 1;
      margin-left: 0;
    }
    #{ $p__text } {
      font-size: 35px;
      font-weight: 800;
    }
  }

  &__other {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-left: 32px;
    @include screen(lg) {
      grid-column: 1/-1;
      grid-row: 3;
      margin-left: 0;
    }
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
    @include screen(lg) {
      margin: 16px;
      grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    }
    &-img {
      width: 180px;
      height: 180px;
      @include screen(lg) {
        width: 90px;
        height: 90px;
      }
      img {
        @include w_h(100%, 100%);
        border-radius: 20px;
      }
    }
  }

  &__action {
    @include flex(center, center);
    gap: 64px;
    @include screen(lg) {
      margin: 32px 0;
    }
    &-btn {
      width: 265px;
      height: 71px;
      @include flex(center, center);
      background: #fe4206;
      color: #fff;
      border-radius: 90px;

      font-size: 36px;
      font-weight: 900;
    }
  }
  &__price {
    @include flex;
    color: #7c7c7c;
    height: 132px;
    padding: 18px 0;
    @include screen(lg) {
      display: none;
    }
    &-money {
      @include flex(center, end);

      #{$p__text} {
        line-height: 1;

        font-size: 96px;
        font-weight: 600;
        color: #fed706;
      }
    }

    &-unit {
      @include flex(end);
      #{$p__text} {
        letter-spacing: -1px;
        font-size: 14px;
        &--icon {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: #eb9838;

          color: #fff;
          font-size: 16px;
          @include flex(center, center, column);
        }
      }
    }
  }

  &__infos {
    @include flex(null, space-between);
  }

  &__info {
    width: 348px;
    top: -84px;
    left: 14946px;
    gap: 0px;
    opacity: 0px;
    @include screen(lg) {
      width: 100%;
    }
    &--one {
      #{$p__item} {
        @include flex;
        &-name {
          flex: 1;
        }
        &-num {
          width: 100px;
        }
      }
    }

    &--two {
      color: #fe4206;
      width: 741px;
      @include flex(null, null, column);
      @include screen(lg) {
        display: none;
      }
      #{$p__item} {
        &-name {
        }
        &-other {
        }
      }
    }
  }

  &__item {
    font-size: 24px;
    font-weight: 400;
  }

  &__likes {
    &-title {
      #{$p__text} {
        font-size: 35px;
        font-weight: 400;
      }
      padding-bottom: 24px;
      border-bottom: 1px solid #000;
    }

    &-products {
      margin-top: 24px;
      padding: 24px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 397px));
      gap: 16px;
    }
  }
}
