$root-block-name: '.confirmDialog';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;

  @include w_h(100%, 100%);
  @include flex(null, null, column);
  &__header {
    @include w_h(100%, 72px);
    background: #fed706;
    position: relative;
    border-radius: 18px 18px 0 0;
    &::after {
      content: '';
      display: flex;
      position: absolute;
      width: 320px;
      height: 98px;
      border-radius: 40px;
      bottom: -36px;
      left: 50%;
      transform: translateX(-50%);
      background: #fed706;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    &-img {
      @include w_h(255px, 255px);
    }
  }

  &__main {
    flex: 1;
    background: #ffe7cc;
    border-radius: 0 0 18px 18px;
    padding: 48px 24px 24px 24px;
    @include flex(null, null, column);

    &-content {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 120px;

      @include screen(lg) {
        grid-template-columns: 1fr;
        grid-auto-rows: 87px;
      }
    }

    &-btns {
      @include flex(center, center);
      gap: 24px;
    }

    &-btn {
      width: 168px;
      height: 54px;
      border-radius: 50px;
      border: 2px solid #000;
      opacity: 0px;
      @include flex(center, center);
      font-family: Noto Sans;
      font-size: 25px;
      font-weight: 400;

      &--cancel {
        background: #fed706;
      }
      &--confirm {
        color: #fff;
        background: #fe4206;
      }
    }

    &-balance {
      @include flex(center, center);
      border-bottom: 1px solid #cf8046;
      padding-bottom: 64px;
      @include screen(lg) {
        padding-bottom: 12px;
      }
    }

    &-count {
      @include flex(center, center);
      border-bottom: 1px solid #cf8046;
      padding-bottom: 64px;
      @include screen(lg) {
        padding-bottom: 12px;
      }
    }
    &-total {
      @include flex(center, center);
      grid-column: 1/-1;
      padding-top: 64px;
      @include screen(lg) {
        padding-bottom: 12px;
      }
    }
  }

  &__text {
    font-family: Noto Sans;
    font-size: 25px;
    font-weight: 400;
    &--red {
      font-size: 64px;
      font-weight: 400;
      color: #fe4206;
    }

    &--bold {
      font-weight: 800;
    }
  }
}
